<!-- need a button that will submit user input into database -->
<div class="container semi-opaque px-5">
    <header class="p-5 text-center">
        <h1><i class="fas fa-hamburger"></i> Welcome to Burger Time! <i class="fas fa-hamburger"></i></h1>

    </header>
    <div class="row pb-5 d-flex justify-content-between">
